{% load static %}
<!DOCTYPE html>
<html>
 <head>
	<link href="https://fonts.googleapis.com/css?family=Arvo|Fjalla+One&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href='./../superapp/../../static/signup.css'>
	{% comment %} <link rel="stylesheet" type="text/css" href="particle.css"> {% endcomment %}




	<title>Signup_Page</title>
</head> 
<body>
	<div id="particles-js">

		
        <div class="pad">

            <h1 class="caps">Idea Submission form</h1>
        
                 
                    <h4>Capture your project idea by completing this simple form. this should take abould about 2 mins to complete.</h4><br>
                    <h6>*Required</h6>
        </div>

				<form action="" method="POST" class="form3" >
                    <h2>Team name *</h2><h6>What should your team name called? </h6><input type="text" name="text" placeholder="Team Name" required><br><!-- BACKEND -->
                    <!-- <input type="text" name="text" placeholder="Test Name" required> -->
                    <br>
                    <h2>Test Description *</h2>
                    <h6>Describe what your project is about. Describe the problem you would like to solve(include any data you may've to support that this problem) and the broad concept for solving this problem</h6>

                    <textarea rows="6" cols="100" placeholder="Enter Your Idea">

                    </textarea>
                    <br><br>
                    <h2>Goal *</h2>
                    <h6>What is the primary goal that you are trying to imapact for your project?(e.g.purchases,average order value,lead form submissions etc)?</h6>

                    <textarea rows="6" cols="100" placeholder="Enter Your Idea">

                    </textarea>
                    <br><br>
                    <h2>Likelihood of sucess *</h2>
                    <h6>On a scale of 1 to 4,how likely do you think it is that this project will have a unique and valid variation?</h6>

                        <input type="radio" name="sucess"><h5>1- I believe there is a slight chance this test will have a winning variation.</h5>
                        <input type="radio" name="sucess"><h5>2- I believe there is a medium chance this test will have a winning variation.</h5>
                        <input type="radio" name="sucess"><h5>3- I believe there is a good chance this test will have a winning variation.</h5>
                        <input type="radio" name="sucess"><h5>4- I believe there is a very strong chance this test will have a winning variation.</h5> 
                        <input type="radio" name="sucess"><h5>5- Others</h5>
                        <textarea rows="1" cols="50" >
    
                        </textarea>
                        <br><br>
                        <h2>Domain Tags *</h2>
                        <h6>Enter the fields your domain is about</h6>
                    <input type="text" name="text"  required><br><!-- BACKEND -->
					
					<br>
					<input type="submit" value="SUBMIT" class="btn btn-primary sas" onclick="alert('Sign Up Done \n Click \'Go To Homepage\'')" ><!-- BACKEND -->
				</form>
				
			
	
		
		
	</div>
		
	

</body>
</html>