{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'signup.css' %}">
<form action="/searchgroup" method ="GET" class="form">
<input type="search" name="searchgroup" id="searchgroup" placeholder = 'Search For a group'>
<button type="submit" class="btn btn-primary sas" >Submit</button>
</form>